<main role="main" class="container">
  <div class="alert alert-danger" role="alert">
      El Codigo Unico de Identificacion consultado no se encuentra registrado.
  </div>
    <form >
      <button type="submit" class="btn btn-primary" routerLink="/registroPersona" >Registrarse</button>
    </form>
  </main>
  