<main role="main" class="container">
  <div class="alert alert-primary" role="alert">Registro de Personas</div>
  <div class="alert alert-danger" role="alert" *ngIf="messages.length > 0">
    <ul>
      <li *ngFor="let msg of messages">{{ msg }}</li>
    </ul>
  </div>
  <form #frm="ngForm" (ngSubmit)="onRegister(frm)">
    <table class="table" style="width: 40%;">
      <thead>
        <tr>
          <th scope="col">Informacion General</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="form-group">
              <label>CUI:</label>
              <input class="form-control" type="text" name="cui" ngModel />
              <label>Nombres:</label>
              <input class="form-control" type="text" name="nombres" ngModel />

              <label>Apellidos:</label>
              <input
                class="form-control"
                type="text"
                name="apellidos"
                ngModel
              />
              <label>Sexo:</label>

              <div class="radio">
                <label
                  ><input
                    type="radio"
                    name="optradio"
                    value="M"
                    ngModel
                  />Masculino</label
                >
              </div>
              <div class="radio">
                <label
                  ><input
                    type="radio"
                    name="optradio"
                    value="F"
                    ngModel
                  />Femenino</label
                >
              </div>

              <label>Fecha de Nacimiento:</label>
              <input
                type="date"
                class="form-control"
                id="fechaNac"
                placeholder="Fecha de Nacimiento YYYY-MM-DD"
                name="fechaNacimiento"
                ngModel
              />

              <label>Telefono:</label>
              <input class="form-control" type="text" name="telefono" ngModel />

              <label>Departamento en el que reside:</label>
              <select
                id="departamento"
                class="form-control form-select"
                (change)="getMunicipios($event.target)"
              ><option disabled>...Seleccione...</option>
              
                <option
                  [ngValue]="departamento.id"
                  *ngFor="let departamento of departamentos"
                >
                  {{ departamento.departamento }}
                </option>
              </select>

              <label>Municipio en el que reside:</label>
              <select
                id="municipio"
                class="form-control form-select"
                name="municipioId"
                ngModel
              >
                <option disabled>...Seleccione...</option>
                <option
                  [ngValue]="municipio.id"
                  *ngFor="let municipio of municipios"
                >
                  {{ municipio.nombre }}
                </option>
              </select>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>
</main>
