<main role="main" class="container">
  <div class="alert alert-success" role="alert">
    Resultado de la consulta de persona con Código Único de Identificación
    <strong>{{ persona.registro.cui }}</strong>
</div>
  <div class="alert alert-danger" role="alert" *ngIf="messages.length > 0">
    <ul>
      <li *ngFor="let msg of messages">{{ msg }}</li>
    </ul>
  </div>
  <div *ngIf="numDosis>=2" class="alert alert-danger" role="alert">
    No puede agregar mas dosis, ya tiene registrado las dosis suministradas, numero de dosis suministradas {{numDosis}}
  </div>
  <form #frm="ngForm" (ngSubmit)="onSend(frm)">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Informacion General</th>
          <th scope="col">Informacion sobre Vacuna</th>
          <th scope="col">Posibles Efectos Secundarios</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 30%">
            <div class="form-group">
              <label>Nombres:</label>
              <input
                class="form-control"
                type="text"
                readonly
                value="{{ persona.registro.nombres }}"
              />

              <label>Apellidos:</label>
              <input
                class="form-control"
                type="text"
                readonly
                value="{{ persona.registro.apellidos }}"
              />

              <label>Fecha de Nacimiento:</label>
              <input
                class="form-control"
                type="text"
                readonly
                value="{{ persona.registro.fechaNacimiento }}"
              />

              <label>Telefono:</label>
              <input
                class="form-control"
                type="text"
                readonly
                value="{{ persona.registro.telefono }}"
              />

              <label>Departamento en el que reside:</label>
              <input
                class="form-control"
                type="text"
                readonly
                value="{{
                  persona.registro.municipio.departamento.departamento
                }}"
              />

              <label>Municipio en el que reside:</label>
              <input
                class="form-control"
                type="text"
                readonly
                value="{{ persona.registro.municipio.municipio }}"
              />
            </div>
          </td>

          <td style="width: 30%">
            <div class="input-field col s12">
              <label>Dosis:</label>
              <br>
                  <input  ngModel class="form-check-input" type="radio" name="dosis" id="eSi" value="1" 
                  (click)="changeIsEmbarazo($event.target)"> <span  style="margin-left: 10%;" >Dosis 1</span>
                  <br>
                  <input ngModel class="form-check-input" type="radio" name="dosis" id="eNo" value="2" 
                  (click)="changeIsEmbarazo($event.target)">  <span  style="margin-left: 10%;">Dosis 2</span>
               <br>
              <label>Seleccione la vacuna</label>
              <select
                class="custom-select"
                id="inputGroupSelect01"
                ngModel
                name="selectedVacuna"
              >
              <option value="">--Seleccione--
              </option>
                <option *ngFor="let v of vacunasOpt" [value]="v.id">
                  {{ v.nombre }}
                </option>
              </select>
              <br>
              <label>Estaba embarazada al momento de recibir la vacuna?:</label>
              <br>
                  <input  *ngIf="persona.registro.sexo == 'F'" class="form-check-input" type="radio" name="embarazo" id="eSi" value="Si" 
                  (click)="changeIsEmbarazo($event.target)"> <span *ngIf="persona.registro.sexo == 'F'" style="margin-left: 10%;">Si</span>
                  <br>
                  <input *ngIf="persona.registro.sexo == 'F'" class="form-check-input" type="radio" name="embarazo" id="eNo" value="No" checked
                  (click)="changeIsEmbarazo($event.target)">  <span *ngIf="persona.registro.sexo == 'F'" style="margin-left: 10%;">No</span>
               <br>
              <label *ngIf="persona.registro.sexo == 'F' && rEmbarazo"
                >Fecha probable del parto:</label
              >
              <input
              *ngIf="persona.registro.sexo == 'F' && rEmbarazo"
                type="date"
                class="form-control"
                placeholder="YYYY-MM-DD"
                name="fechaParto"
                ngModel
              />
              
              <label>Fecha de Exposicion a la Vacuna:</label>
              <input
                type="date"
                class="form-control"
                placeholder="YYYY-MM-DD"
                name="fechaVacuna"
                ngModel 
              />
              
            </div>
          </td>
          <td>
            <div
              *ngFor="let e of efectosOpt; let i = index"
              name="divIds"
              ngModel
            >
              <input
                type="checkbox"
                [value]="e.id" *ngIf="e.id>0"
                [name]="e.nombreControl"
                ngModel
              />
              <span *ngIf="e.id>0">{{ e.nombre }}</span><br />
            </div>
            <input
              type="checkbox"
              value="Otro"
              name="txtOtro"
              [(ngModel)]="otro"
            />Otro<br />

            <label *ngIf="otro"
              >Especificar sintoma que no esta en la lista anterior:</label
            >
            <input
              *ngIf="otro"
              class="form-control"
              type="text"
              name="txtOtro"
              ngModel
            />
            
            <button type="button" class="btn btn-warning" (click)="regresar()" >regresar</button>
            <button type="submit" class="btn btn-primary" *ngIf="!(numDosis>=2)">Guardar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</main>
