<main role="main" class="container">
  <div class="alert alert-primary" role="alert">
    Puedes consultar tus datos de vacunacion contra el COVID 19
  </div>
  <form #frm="ngForm" (ngSubmit)="onSearch(frm)">
    <div class="form-group">
      <label for="exampleInputEmail1">Código Único de Identificación</label>
      <input type="text" class="form-control" id="cui" name="cui" ngModel />
    </div>

    <button type="submit" class="btn btn-primary">Consultar</button>
  </form>
</main>
