<main role="main" class="container">
  <div class="alert alert-success" role="alert">
  Resultado de la consulta de persona con Código Único de Identificación
 <strong> {{ persona.registro.cui }}</strong></div>
<form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Informacion General</th>
        <th scope="col">Expediente, Vacunacion y Efectos secundarios</th> 
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="form-group">
            <label>Nombres:</label>
            <input
              class="form-control"
              type="text"
              readonly
              value="{{ persona.registro.nombres }}"
            />

            <label>Apellidos:</label>
            <input
              class="form-control"
              type="text"
              readonly
              value="{{ persona.registro.apellidos }}"
            />

            <label>Fecha de Nacimiento:</label>
            <input
              class="form-control"
              type="text"
              readonly
              value="{{ persona.registro.fechaNacimiento.substr(0, 10) }}"
            />

            <label>Telefono:</label>
            <input
              class="form-control"
              type="text"
              readonly
              value="{{ persona.registro.telefono }}"
            />

            <label>Departamento en el que reside:</label>
            <input
              class="form-control"
              type="text"
              readonly
              value="{{ persona.registro.municipio.departamento.departamento }}"
            />

            <label>Municipio en el que reside:</label>
            <input
              class="form-control"
              type="text"
              readonly
              value="{{ persona.registro.municipio.municipio }}"
            />
          </div>
        </td>
        <td>
          <div class="form-group">
            <label>Edad del paciente: {{edad}}</label><br>
            <label>Numero de dosis suministradas: {{ arr.length }}</label>
            <table>
              <tr>
                <td>Dosis</td>
                <td>Vacuna</td>
                <td>Fecha Vacunacion</td>
                <td *ngIf="persona.registro.sexo=='F'">Embarazo</td>
                <td *ngIf="persona.registro.sexo=='F'">Fecha Parto</td>
                <td>Efectos Secundarios</td>
                <!-- <td>Quitar Registro</td> -->
              </tr>
              <tr *ngFor="let a of arr">
                <td>Dosis {{ a.dosis }}</td>
                <td>{{ vacunasMap.get(a.vacunaId) }}</td>
                <td>{{ a.fechaVacunacion }}</td>
                <td *ngIf="persona.registro.sexo=='F'">{{ a.embarazo }}</td>
                <td *ngIf="persona.registro.sexo=='F'">{{ a.fechaParto }}</td>
                <td *ngElse>-</td>
                <td>
                  <ul>
                    <div *ngFor="let item of efectosVacunaMap | keyvalue">
                      <div *ngIf="item.key == a.id">
                        <div *ngFor="let item2 of item.value">
                          <li>{{ item2 }}</li>
                        </div>
                      </div>
                    </div>
                  </ul>
                <!-- </td><td><button type="submit" class="btn btn-danger glyphicon glyphicon-minus" (click)="onDelete(a.id)" ></button>
                </td> -->
              </tr>
            </table>
            <button type="submit" class="btn btn-primary" (click)="onSubmit(persona.registro.cui)"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Agregar Efectos de Vacuna</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</form>
</main>